In [1]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd

In [7]:
# fetch dataset 
diabetes_130_us_hospitals_for_years_1999_2008 = fetch_ucirepo(id=296) 
  
# data (as pandas dataframes) 
X = diabetes_130_us_hospitals_for_years_1999_2008.data.features 
y = diabetes_130_us_hospitals_for_years_1999_2008.data.targets

C:\Users\aKost\anaconda3\lib\site-packages\ucimlrepo\fetch.py:97: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_url)

In [30]:
initial_merge = pd.merge(left=X, right=y, how="outer", left_index=True, right_index=True)
initial_merge.isna().sum()

race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [31]:
initial_merge.shape

(101766, 48)

# Dropping columns with more NA values than the race column

In [33]:
threshold = 2273
second_merge = initial_merge.dropna(axis=1, thresh=initial_merge.shape[0] - threshold)
second_merge.isna().sum()

race                        2273
gender                         0
age                            0
admission_type_id              0
discharge_disposition_id       0
admission_source_id            0
time_in_hospital               0
num_lab_procedures             0
num_procedures                 0
num_medications                0
number_outpatient              0
number_emergency               0
number_inpatient               0
diag_1                        21
diag_2                       358
diag_3                      1423
number_diagnoses               0
metformin                      0
repaglinide                    0
nateglinide                    0
chlorpropamide                 0
glimepiride                    0
acetohexamide                  0
glipizide                      0
glyburide                      0
tolbutamide                    0
pioglitazone                   0
rosiglitazone                  0
acarbose                       0
miglitol                       0
troglitazone                   0
tolazamide                     0
examide                        0
citoglipton                    0
insulin                        0
glyburide-metformin            0
glipizide-metformin            0
glimepiride-pioglitazone       0
metformin-rosiglitazone        0
metformin-pioglitazone         0
change                         0
diabetesMed                    0
readmitted                     0
dtype: int64

In [34]:
second_merge.shape

(101766, 43)

# Looking at unique values of each column

In [35]:
for column in second_merge.columns:
    unique_values = second_merge[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'race': ['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']
Unique values in column 'gender': ['Female' 'Male' 'Unknown/Invalid']
Unique values in column 'age': ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
Unique values in column 'admission_type_id': [6 1 2 3 4 5 8 7]
Unique values in column 'discharge_disposition_id': [25  1  3  6  2  5 11  7 10  4 14 18  8 13 12 16 17 22 23  9 20 15 24 28
 19 27]
Unique values in column 'admission_source_id': [ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]
Unique values in column 'time_in_hospital': [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]
Unique values in column 'num_lab_procedures': [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
Unique values in column 'num_procedures': [0 5 1 6 2 3 4]
Unique values in column 'num_medications': [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]
Unique values in column 'number_outpatient': [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
Unique values in column 'number_emergency': [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
Unique values in column 'number_inpatient': [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
Unique values in column 'diag_1': ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' nan '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']
Unique values in column 'diag_2': [nan '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288'
 '998' '507' '174' '425' '456' '401' '715' '496' '428' '585' '250.02'
 '410' '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491'
 '553' '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196'
 '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150'
 '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' '235' 'V69' '670' '195' 'V55' '388'
 '268' '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863'
 '649' '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843'
 '927']
Unique values in column 'diag_3': [nan '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '714' '428' '582' 'V43' '250.01' '263' '250.42' '276'
 '482' '401' '250.41' '585' '781' '278' '998' '568' '682' '618' '250.02'
 '305' '707' '496' '599' '715' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622' 'E912' 'E955' '463' 'V06' 'E864'
 '217' '877' '391' 'E825' '952' '669' '875' 'E900' '215' '538' '980' '834'
 '448' '175' '49' '876' '230' '57' 'E854' '942' '14' '750' '370' '671'
 '971']
Unique values in column 'number_diagnoses': [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
Unique values in column 'metformin': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'repaglinide': ['No' 'Up' 'Steady' 'Down']
Unique values in column 'nateglinide': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'chlorpropamide': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'glimepiride': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'acetohexamide': ['No' 'Steady']
Unique values in column 'glipizide': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'glyburide': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'tolbutamide': ['No' 'Steady']
Unique values in column 'pioglitazone': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'rosiglitazone': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'acarbose': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'miglitol': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'troglitazone': ['No' 'Steady']
Unique values in column 'tolazamide': ['No' 'Steady' 'Up']
Unique values in column 'examide': ['No']
Unique values in column 'citoglipton': ['No']
Unique values in column 'insulin': ['No' 'Up' 'Steady' 'Down']
Unique values in column 'glyburide-metformin': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'glipizide-metformin': ['No' 'Steady']
Unique values in column 'glimepiride-pioglitazone': ['No' 'Steady']
Unique values in column 'metformin-rosiglitazone': ['No' 'Steady']
Unique values in column 'metformin-pioglitazone': ['No' 'Steady']
Unique values in column 'change': ['No' 'Ch']
Unique values in column 'diabetesMed': ['No' 'Yes']
Unique values in column 'readmitted': ['NO' '>30' '<30']

# Dropping some columns because their values are not helpful and would be too large for one-hot encoding

In [36]:
second_merge = second_merge.drop(columns=[
    'admission_type_id',
    'discharge_disposition_id',
    'admission_source_id',
    'diag_1',
    'diag_2',
    'diag_3'
])
for column in second_merge.columns:
    unique_values = second_merge[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'race': ['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']
Unique values in column 'gender': ['Female' 'Male' 'Unknown/Invalid']
Unique values in column 'age': ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
Unique values in column 'time_in_hospital': [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]
Unique values in column 'num_lab_procedures': [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
Unique values in column 'num_procedures': [0 5 1 6 2 3 4]
Unique values in column 'num_medications': [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]
Unique values in column 'number_outpatient': [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
Unique values in column 'number_emergency': [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
Unique values in column 'number_inpatient': [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
Unique values in column 'number_diagnoses': [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
Unique values in column 'metformin': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'repaglinide': ['No' 'Up' 'Steady' 'Down']
Unique values in column 'nateglinide': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'chlorpropamide': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'glimepiride': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'acetohexamide': ['No' 'Steady']
Unique values in column 'glipizide': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'glyburide': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'tolbutamide': ['No' 'Steady']
Unique values in column 'pioglitazone': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'rosiglitazone': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'acarbose': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'miglitol': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'troglitazone': ['No' 'Steady']
Unique values in column 'tolazamide': ['No' 'Steady' 'Up']
Unique values in column 'examide': ['No']
Unique values in column 'citoglipton': ['No']
Unique values in column 'insulin': ['No' 'Up' 'Steady' 'Down']
Unique values in column 'glyburide-metformin': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'glipizide-metformin': ['No' 'Steady']
Unique values in column 'glimepiride-pioglitazone': ['No' 'Steady']
Unique values in column 'metformin-rosiglitazone': ['No' 'Steady']
Unique values in column 'metformin-pioglitazone': ['No' 'Steady']
Unique values in column 'change': ['No' 'Ch']
Unique values in column 'diabetesMed': ['No' 'Yes']
Unique values in column 'readmitted': ['NO' '>30' '<30']

In [38]:
sm_drop_na = second_merge.dropna()

In [39]:
for column in sm_drop_na.columns:
    unique_values = sm_drop_na[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'race': ['Caucasian' 'AfricanAmerican' 'Other' 'Asian' 'Hispanic']
Unique values in column 'gender': ['Female' 'Male' 'Unknown/Invalid']
Unique values in column 'age': ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
Unique values in column 'time_in_hospital': [ 1  3  2  4  5 13 12  9  7 10 11  6  8 14]
Unique values in column 'num_lab_procedures': [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  19  64  25  53  52  87  27  37  46  28  36  48  72  10   2  65
  67  40  58  57  32  83  34  39  69  38  56  22  96  78  61  88  66  43
  50   1  18  82  54   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26  95  97  84  14  74 105  86  98
  20   5   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
Unique values in column 'num_procedures': [0 5 1 6 2 3 4]
Unique values in column 'num_medications': [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 48 57 53 59 56 63 58 70 67 64 60 69 65 68 66 81 79
 75 72 74]
Unique values in column 'number_outpatient': [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
Unique values in column 'number_emergency': [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
Unique values in column 'number_inpatient': [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
Unique values in column 'number_diagnoses': [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
Unique values in column 'metformin': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'repaglinide': ['No' 'Up' 'Steady' 'Down']
Unique values in column 'nateglinide': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'chlorpropamide': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'glimepiride': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'acetohexamide': ['No' 'Steady']
Unique values in column 'glipizide': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'glyburide': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'tolbutamide': ['No' 'Steady']
Unique values in column 'pioglitazone': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'rosiglitazone': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'acarbose': ['No' 'Steady' 'Up' 'Down']
Unique values in column 'miglitol': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'troglitazone': ['No' 'Steady']
Unique values in column 'tolazamide': ['No' 'Steady' 'Up']
Unique values in column 'examide': ['No']
Unique values in column 'citoglipton': ['No']
Unique values in column 'insulin': ['No' 'Up' 'Steady' 'Down']
Unique values in column 'glyburide-metformin': ['No' 'Steady' 'Down' 'Up']
Unique values in column 'glipizide-metformin': ['No' 'Steady']
Unique values in column 'glimepiride-pioglitazone': ['No' 'Steady']
Unique values in column 'metformin-rosiglitazone': ['No']
Unique values in column 'metformin-pioglitazone': ['No' 'Steady']
Unique values in column 'change': ['No' 'Ch']
Unique values in column 'diabetesMed': ['No' 'Yes']
Unique values in column 'readmitted': ['NO' '>30' '<30']

In [40]:
sm_drop_na.shape

(99493, 37)

# One-hot encoding

In [41]:
df = sm_drop_na.copy()

columns_to_encode = ['race', 'gender', 'age', 'metformin', 'repaglinide', 'nateglinide', 
                     'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 
                     'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 
                     'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin', 
                     'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 
                     'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 
                     'diabetesMed', 'readmitted']

for column in columns_to_encode:
    df = pd.concat([df, pd.get_dummies(df[column], prefix=column)], axis=1)
    df.drop(column, axis=1, inplace=True)

for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'time_in_hospital': [ 1  3  2  4  5 13 12  9  7 10 11  6  8 14]
Unique values in column 'num_lab_procedures': [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  19  64  25  53  52  87  27  37  46  28  36  48  72  10   2  65
  67  40  58  57  32  83  34  39  69  38  56  22  96  78  61  88  66  43
  50   1  18  82  54   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26  95  97  84  14  74 105  86  98
  20   5   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
Unique values in column 'num_procedures': [0 5 1 6 2 3 4]
Unique values in column 'num_medications': [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 48 57 53 59 56 63 58 70 67 64 60 69 65 68 66 81 79
 75 72 74]
Unique values in column 'number_outpatient': [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
Unique values in column 'number_emergency': [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
Unique values in column 'number_inpatient': [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
Unique values in column 'number_diagnoses': [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
Unique values in column 'race_AfricanAmerican': [False  True]
Unique values in column 'race_Asian': [False  True]
Unique values in column 'race_Caucasian': [ True False]
Unique values in column 'race_Hispanic': [False  True]
Unique values in column 'race_Other': [False  True]
Unique values in column 'gender_Female': [ True False]
Unique values in column 'gender_Male': [False  True]
Unique values in column 'gender_Unknown/Invalid': [False  True]
Unique values in column 'age_[0-10)': [ True False]
Unique values in column 'age_[10-20)': [False  True]
Unique values in column 'age_[20-30)': [False  True]
Unique values in column 'age_[30-40)': [False  True]
Unique values in column 'age_[40-50)': [False  True]
Unique values in column 'age_[50-60)': [False  True]
Unique values in column 'age_[60-70)': [False  True]
Unique values in column 'age_[70-80)': [False  True]
Unique values in column 'age_[80-90)': [False  True]
Unique values in column 'age_[90-100)': [False  True]
Unique values in column 'metformin_Down': [False  True]
Unique values in column 'metformin_No': [ True False]
Unique values in column 'metformin_Steady': [False  True]
Unique values in column 'metformin_Up': [False  True]
Unique values in column 'repaglinide_Down': [False  True]
Unique values in column 'repaglinide_No': [ True False]
Unique values in column 'repaglinide_Steady': [False  True]
Unique values in column 'repaglinide_Up': [False  True]
Unique values in column 'nateglinide_Down': [False  True]
Unique values in column 'nateglinide_No': [ True False]
Unique values in column 'nateglinide_Steady': [False  True]
Unique values in column 'nateglinide_Up': [False  True]
Unique values in column 'chlorpropamide_Down': [False  True]
Unique values in column 'chlorpropamide_No': [ True False]
Unique values in column 'chlorpropamide_Steady': [False  True]
Unique values in column 'chlorpropamide_Up': [False  True]
Unique values in column 'glimepiride_Down': [False  True]
Unique values in column 'glimepiride_No': [ True False]
Unique values in column 'glimepiride_Steady': [False  True]
Unique values in column 'glimepiride_Up': [False  True]
Unique values in column 'acetohexamide_No': [ True False]
Unique values in column 'acetohexamide_Steady': [False  True]
Unique values in column 'glipizide_Down': [False  True]
Unique values in column 'glipizide_No': [ True False]
Unique values in column 'glipizide_Steady': [False  True]
Unique values in column 'glipizide_Up': [False  True]
Unique values in column 'glyburide_Down': [False  True]
Unique values in column 'glyburide_No': [ True False]
Unique values in column 'glyburide_Steady': [False  True]
Unique values in column 'glyburide_Up': [False  True]
Unique values in column 'tolbutamide_No': [ True False]
Unique values in column 'tolbutamide_Steady': [False  True]
Unique values in column 'pioglitazone_Down': [False  True]
Unique values in column 'pioglitazone_No': [ True False]
Unique values in column 'pioglitazone_Steady': [False  True]
Unique values in column 'pioglitazone_Up': [False  True]
Unique values in column 'rosiglitazone_Down': [False  True]
Unique values in column 'rosiglitazone_No': [ True False]
Unique values in column 'rosiglitazone_Steady': [False  True]
Unique values in column 'rosiglitazone_Up': [False  True]
Unique values in column 'acarbose_Down': [False  True]
Unique values in column 'acarbose_No': [ True False]
Unique values in column 'acarbose_Steady': [False  True]
Unique values in column 'acarbose_Up': [False  True]
Unique values in column 'miglitol_Down': [False  True]
Unique values in column 'miglitol_No': [ True False]
Unique values in column 'miglitol_Steady': [False  True]
Unique values in column 'miglitol_Up': [False  True]
Unique values in column 'troglitazone_No': [ True False]
Unique values in column 'troglitazone_Steady': [False  True]
Unique values in column 'tolazamide_No': [ True False]
Unique values in column 'tolazamide_Steady': [False  True]
Unique values in column 'tolazamide_Up': [False  True]
Unique values in column 'examide_No': [ True]
Unique values in column 'citoglipton_No': [ True]
Unique values in column 'insulin_Down': [False  True]
Unique values in column 'insulin_No': [ True False]
Unique values in column 'insulin_Steady': [False  True]
Unique values in column 'insulin_Up': [False  True]
Unique values in column 'glyburide-metformin_Down': [False  True]
Unique values in column 'glyburide-metformin_No': [ True False]
Unique values in column 'glyburide-metformin_Steady': [False  True]
Unique values in column 'glyburide-metformin_Up': [False  True]
Unique values in column 'glipizide-metformin_No': [ True False]
Unique values in column 'glipizide-metformin_Steady': [False  True]
Unique values in column 'glimepiride-pioglitazone_No': [ True False]
Unique values in column 'glimepiride-pioglitazone_Steady': [False  True]
Unique values in column 'metformin-rosiglitazone_No': [ True]
Unique values in column 'metformin-pioglitazone_No': [ True False]
Unique values in column 'metformin-pioglitazone_Steady': [False  True]
Unique values in column 'change_Ch': [False  True]
Unique values in column 'change_No': [ True False]
Unique values in column 'diabetesMed_No': [ True False]
Unique values in column 'diabetesMed_Yes': [False  True]
Unique values in column 'readmitted_<30': [False  True]
Unique values in column 'readmitted_>30': [False  True]
Unique values in column 'readmitted_NO': [ True False]

In [43]:
df = df.astype(int)
df

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,metformin-rosiglitazone_No,metformin-pioglitazone_No,metformin-pioglitazone_Steady,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted_<30,readmitted_>30,readmitted_NO
0,1,41,0,1,0,0,0,1,0,0,...,1,1,0,0,1,1,0,0,0,1
1,3,59,0,18,0,0,0,9,0,0,...,1,1,0,1,0,0,1,0,1,0
2,2,11,5,13,2,0,1,6,1,0,...,1,1,0,0,1,0,1,0,0,1
3,2,44,1,16,0,0,0,7,0,0,...,1,1,0,1,0,0,1,0,0,1
4,1,51,0,8,0,0,0,5,0,0,...,1,1,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,3,51,0,16,0,0,0,9,1,0,...,1,1,0,1,0,0,1,0,1,0
101762,5,33,3,18,0,0,1,9,1,0,...,1,1,0,0,1,0,1,0,0,1
101763,1,53,0,9,1,0,0,13,0,0,...,1,1,0,1,0,0,1,0,0,1
101764,10,45,2,21,0,0,1,9,0,0,...,1,1,0,1,0,0,1,0,0,1
101765,6,13,3,3,0,0,0,9,0,0,...,1,1,0,0,1,1,0,0,0,1

In [47]:
for i in [c for c in df.columns]:
    print(i)

time_in_hospital
num_lab_procedures
num_procedures
num_medications
number_outpatient
number_emergency
number_inpatient
number_diagnoses
race_AfricanAmerican
race_Asian
race_Caucasian
race_Hispanic
race_Other
gender_Female
gender_Male
gender_Unknown/Invalid
age_[0-10)
age_[10-20)
age_[20-30)
age_[30-40)
age_[40-50)
age_[50-60)
age_[60-70)
age_[70-80)
age_[80-90)
age_[90-100)
metformin_Down
metformin_No
metformin_Steady
metformin_Up
repaglinide_Down
repaglinide_No
repaglinide_Steady
repaglinide_Up
nateglinide_Down
nateglinide_No
nateglinide_Steady
nateglinide_Up
chlorpropamide_Down
chlorpropamide_No
chlorpropamide_Steady
chlorpropamide_Up
glimepiride_Down
glimepiride_No
glimepiride_Steady
glimepiride_Up
acetohexamide_No
acetohexamide_Steady
glipizide_Down
glipizide_No
glipizide_Steady
glipizide_Up
glyburide_Down
glyburide_No
glyburide_Steady
glyburide_Up
tolbutamide_No
tolbutamide_Steady
pioglitazone_Down
pioglitazone_No
pioglitazone_Steady
pioglitazone_Up
rosiglitazone_Down
rosiglitazone_No
rosiglitazone_Steady
rosiglitazone_Up
acarbose_Down
acarbose_No
acarbose_Steady
acarbose_Up
miglitol_Down
miglitol_No
miglitol_Steady
miglitol_Up
troglitazone_No
troglitazone_Steady
tolazamide_No
tolazamide_Steady
tolazamide_Up
examide_No
citoglipton_No
insulin_Down
insulin_No
insulin_Steady
insulin_Up
glyburide-metformin_Down
glyburide-metformin_No
glyburide-metformin_Steady
glyburide-metformin_Up
glipizide-metformin_No
glipizide-metformin_Steady
glimepiride-pioglitazone_No
glimepiride-pioglitazone_Steady
metformin-rosiglitazone_No
metformin-pioglitazone_No
metformin-pioglitazone_Steady
change_Ch
change_No
diabetesMed_No
diabetesMed_Yes
readmitted_<30
readmitted_>30
readmitted_NO

# Dropping columns ending in "_No" to reduce redundancy

In [49]:
columns_to_drop = [col for col in df.columns if col.endswith("_No")]
df.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = [col for col in df.columns if col.endswith("_NO")]
df.drop(columns=columns_to_drop, inplace=True)
df

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,glyburide-metformin_Down,glyburide-metformin_Steady,glyburide-metformin_Up,glipizide-metformin_Steady,glimepiride-pioglitazone_Steady,metformin-pioglitazone_Steady,change_Ch,diabetesMed_Yes,readmitted_<30,readmitted_>30
0,1,41,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,59,0,18,0,0,0,9,0,0,...,0,0,0,0,0,0,1,1,0,1
2,2,11,5,13,2,0,1,6,1,0,...,0,0,0,0,0,0,0,1,0,0
3,2,44,1,16,0,0,0,7,0,0,...,0,0,0,0,0,0,1,1,0,0
4,1,51,0,8,0,0,0,5,0,0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,3,51,0,16,0,0,0,9,1,0,...,0,0,0,0,0,0,1,1,0,1
101762,5,33,3,18,0,0,1,9,1,0,...,0,0,0,0,0,0,0,1,0,0
101763,1,53,0,9,1,0,0,13,0,0,...,0,0,0,0,0,0,1,1,0,0
101764,10,45,2,21,0,0,1,9,0,0,...,0,0,0,0,0,0,1,1,0,0
101765,6,13,3,3,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0

# Checking if we really need all of the medication columns

Where any of the medications are 1 but diabetesMed is 0:

In [56]:
filtered_df = df[(df[['metformin_Down', 'metformin_Steady', 'metformin_Up',
                      'repaglinide_Down', 'repaglinide_Steady', 'repaglinide_Up',
                      'nateglinide_Down', 'nateglinide_Steady', 'nateglinide_Up',
                      'chlorpropamide_Down', 'chlorpropamide_Steady', 'chlorpropamide_Up',
                      'glimepiride_Down', 'glimepiride_Steady', 'glimepiride_Up',
                      'acetohexamide_Steady',
                      'glipizide_Down', 'glipizide_Steady', 'glipizide_Up',
                      'glyburide_Down', 'glyburide_Steady', 'glyburide_Up',
                      'tolbutamide_Steady',
                      'pioglitazone_Down', 'pioglitazone_Steady', 'pioglitazone_Up',
                      'rosiglitazone_Down', 'rosiglitazone_Steady', 'rosiglitazone_Up',
                      'acarbose_Down', 'acarbose_Steady', 'acarbose_Up',
                      'miglitol_Down', 'miglitol_Steady', 'miglitol_Up',
                      'troglitazone_Steady',
                      'tolazamide_Steady', 'tolazamide_Up',
                      'insulin_Down', 'insulin_Steady', 'insulin_Up',
                      'glyburide-metformin_Down', 'glyburide-metformin_Steady', 'glyburide-metformin_Up',
                      'glipizide-metformin_Steady',
                      'glimepiride-pioglitazone_Steady',
                      'metformin-pioglitazone_Steady', 'change_Ch']].any(axis=1)) & (df['diabetesMed_Yes'] == 0)]
filtered_df

Empty DataFrame
Columns: [time_in_hospital, num_lab_procedures, num_procedures, num_medications, number_outpatient, number_emergency, number_inpatient, number_diagnoses, race_AfricanAmerican, race_Asian, race_Caucasian, race_Hispanic, race_Other, gender_Female, gender_Male, gender_Unknown/Invalid, age_[0-10), age_[10-20), age_[20-30), age_[30-40), age_[40-50), age_[50-60), age_[60-70), age_[70-80), age_[80-90), age_[90-100), metformin_Down, metformin_Steady, metformin_Up, repaglinide_Down, repaglinide_Steady, repaglinide_Up, nateglinide_Down, nateglinide_Steady, nateglinide_Up, chlorpropamide_Down, chlorpropamide_Steady, chlorpropamide_Up, glimepiride_Down, glimepiride_Steady, glimepiride_Up, acetohexamide_Steady, glipizide_Down, glipizide_Steady, glipizide_Up, glyburide_Down, glyburide_Steady, glyburide_Up, tolbutamide_Steady, pioglitazone_Down, pioglitazone_Steady, pioglitazone_Up, rosiglitazone_Down, rosiglitazone_Steady, rosiglitazone_Up, acarbose_Down, acarbose_Steady, acarbose_Up, miglitol_Down, miglitol_Steady, miglitol_Up, troglitazone_Steady, tolazamide_Steady, tolazamide_Up, insulin_Down, insulin_Steady, insulin_Up, glyburide-metformin_Down, glyburide-metformin_Steady, glyburide-metformin_Up, glipizide-metformin_Steady, glimepiride-pioglitazone_Steady, metformin-pioglitazone_Steady, change_Ch, diabetesMed_Yes, readmitted_<30, readmitted_>30]
Index: []

[0 rows x 77 columns]

Where all of the medications are 0 but diabetesMed is 1:

In [57]:
filtered_df = df[(df[['metformin_Down', 'metformin_Steady', 'metformin_Up',
                      'repaglinide_Down', 'repaglinide_Steady', 'repaglinide_Up',
                      'nateglinide_Down', 'nateglinide_Steady', 'nateglinide_Up',
                      'chlorpropamide_Down', 'chlorpropamide_Steady', 'chlorpropamide_Up',
                      'glimepiride_Down', 'glimepiride_Steady', 'glimepiride_Up',
                      'acetohexamide_Steady',
                      'glipizide_Down', 'glipizide_Steady', 'glipizide_Up',
                      'glyburide_Down', 'glyburide_Steady', 'glyburide_Up',
                      'tolbutamide_Steady',
                      'pioglitazone_Down', 'pioglitazone_Steady', 'pioglitazone_Up',
                      'rosiglitazone_Down', 'rosiglitazone_Steady', 'rosiglitazone_Up',
                      'acarbose_Down', 'acarbose_Steady', 'acarbose_Up',
                      'miglitol_Down', 'miglitol_Steady', 'miglitol_Up',
                      'troglitazone_Steady',
                      'tolazamide_Steady', 'tolazamide_Up',
                      'insulin_Down', 'insulin_Steady', 'insulin_Up',
                      'glyburide-metformin_Down', 'glyburide-metformin_Steady', 'glyburide-metformin_Up',
                      'glipizide-metformin_Steady',
                      'glimepiride-pioglitazone_Steady',
                      'metformin-pioglitazone_Steady', 'change_Ch']].eq(0).all(axis=1)) & (df['diabetesMed_Yes'] == 1)]
filtered_df

Empty DataFrame
Columns: [time_in_hospital, num_lab_procedures, num_procedures, num_medications, number_outpatient, number_emergency, number_inpatient, number_diagnoses, race_AfricanAmerican, race_Asian, race_Caucasian, race_Hispanic, race_Other, gender_Female, gender_Male, gender_Unknown/Invalid, age_[0-10), age_[10-20), age_[20-30), age_[30-40), age_[40-50), age_[50-60), age_[60-70), age_[70-80), age_[80-90), age_[90-100), metformin_Down, metformin_Steady, metformin_Up, repaglinide_Down, repaglinide_Steady, repaglinide_Up, nateglinide_Down, nateglinide_Steady, nateglinide_Up, chlorpropamide_Down, chlorpropamide_Steady, chlorpropamide_Up, glimepiride_Down, glimepiride_Steady, glimepiride_Up, acetohexamide_Steady, glipizide_Down, glipizide_Steady, glipizide_Up, glyburide_Down, glyburide_Steady, glyburide_Up, tolbutamide_Steady, pioglitazone_Down, pioglitazone_Steady, pioglitazone_Up, rosiglitazone_Down, rosiglitazone_Steady, rosiglitazone_Up, acarbose_Down, acarbose_Steady, acarbose_Up, miglitol_Down, miglitol_Steady, miglitol_Up, troglitazone_Steady, tolazamide_Steady, tolazamide_Up, insulin_Down, insulin_Steady, insulin_Up, glyburide-metformin_Down, glyburide-metformin_Steady, glyburide-metformin_Up, glipizide-metformin_Steady, glimepiride-pioglitazone_Steady, metformin-pioglitazone_Steady, change_Ch, diabetesMed_Yes, readmitted_<30, readmitted_>30]
Index: []

[0 rows x 77 columns]

In [58]:
columns_to_drop = ['metformin_Steady', 'metformin_Up',
                   'repaglinide_Down', 'repaglinide_Steady', 'repaglinide_Up',
                   'nateglinide_Down', 'nateglinide_Steady', 'nateglinide_Up',
                   'chlorpropamide_Down', 'chlorpropamide_Steady', 'chlorpropamide_Up',
                   'glimepiride_Down', 'glimepiride_Steady', 'glimepiride_Up',
                   'acetohexamide_Steady',
                   'glipizide_Down', 'glipizide_Steady', 'glipizide_Up',
                   'glyburide_Down', 'glyburide_Steady', 'glyburide_Up',
                   'tolbutamide_Steady',
                   'pioglitazone_Down', 'pioglitazone_Steady', 'pioglitazone_Up',
                   'rosiglitazone_Down', 'rosiglitazone_Steady', 'rosiglitazone_Up',
                   'acarbose_Down', 'acarbose_Steady', 'acarbose_Up',
                   'miglitol_Down', 'miglitol_Steady', 'miglitol_Up',
                   'troglitazone_Steady',
                   'tolazamide_Steady', 'tolazamide_Up',
                   'insulin_Down', 'insulin_Steady', 'insulin_Up',
                   'glyburide-metformin_Down', 'glyburide-metformin_Steady', 'glyburide-metformin_Up',
                   'glipizide-metformin_Steady',
                   'glimepiride-pioglitazone_Steady',
                   'metformin-pioglitazone_Steady',
                   'change_Ch']

df.drop(columns=columns_to_drop, inplace=True)
df

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,diabetesMed_Yes,readmitted_<30,readmitted_>30
0,1,41,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,59,0,18,0,0,0,9,0,0,...,0,0,0,0,0,0,0,1,0,1
2,2,11,5,13,2,0,1,6,1,0,...,0,0,0,0,0,0,0,1,0,0
3,2,44,1,16,0,0,0,7,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,51,0,8,0,0,0,5,0,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,3,51,0,16,0,0,0,9,1,0,...,0,0,0,1,0,0,0,1,0,1
101762,5,33,3,18,0,0,1,9,1,0,...,0,0,0,0,1,0,0,1,0,0
101763,1,53,0,9,1,0,0,13,0,0,...,0,0,0,1,0,0,0,1,0,0
101764,10,45,2,21,0,0,1,9,0,0,...,0,0,0,0,1,0,0,1,0,0
101765,6,13,3,3,0,0,0,9,0,0,...,0,0,0,1,0,0,0,0,0,0

In [60]:
columns_except_diabetesMed_Yes = [col for col in df.columns if col != 'diabetesMed_Yes']

new_column_order = columns_except_diabetesMed_Yes + ['diabetesMed_Yes']

df = df[new_column_order]
df

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
0,1,41,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,59,0,18,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,1,1
2,2,11,5,13,2,0,1,6,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2,44,1,16,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,51,0,8,0,0,0,5,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,3,51,0,16,0,0,0,9,1,0,...,0,0,0,1,0,0,0,0,1,1
101762,5,33,3,18,0,0,1,9,1,0,...,0,0,0,0,1,0,0,0,0,1
101763,1,53,0,9,1,0,0,13,0,0,...,0,0,0,1,0,0,0,0,0,1
101764,10,45,2,21,0,0,1,9,0,0,...,0,0,0,0,1,0,0,0,0,1
101765,6,13,3,3,0,0,0,9,0,0,...,0,0,0,1,0,0,0,0,0,0

In [61]:
df.to_csv('diabetes130Hospitals10Years.csv', index=False)

In [3]:
import pandas as pd
df = pd.read_csv("diabetes130Hospitals10Years.csv")

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
0,1,41,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,59,0,18,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,1,1
61,1,51,0,4,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
193,10,1,0,3,0,0,0,4,1,0,...,0,0,0,0,0,0,0,0,0,1
204,3,34,0,4,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98598,3,57,1,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
98674,8,88,6,30,0,0,1,9,0,0,...,0,0,0,0,0,0,0,1,0,1
98738,2,19,0,4,4,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,1
99432,3,44,0,10,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
99447,1,59,6,9,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
df[((df['age_[0-10)'] == 1) | (df['age_[10-20)'] == 1)) & (df['diabetesMed_Yes'] == 1)]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
1,3,59,0,18,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,1,1
61,1,51,0,4,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
193,10,1,0,3,0,0,0,4,1,0,...,0,0,0,0,0,0,0,0,0,1
204,3,34,0,4,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
220,2,48,1,10,0,0,1,5,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98552,3,2,0,2,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
98674,8,88,6,30,0,0,1,9,0,0,...,0,0,0,0,0,0,0,1,0,1
98738,2,19,0,4,4,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,1
99432,3,44,0,10,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
99447,1,59,6,9,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df[((df['age_[0-10)'] == 1) | (df['age_[10-20)'] == 1)) & (df['diabetesMed_Yes'] == 0)]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
0,1,41,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
539,2,22,1,14,0,0,0,4,1,0,...,0,0,0,0,0,0,0,0,0,0
858,2,61,0,4,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,1,0
1464,1,46,0,3,0,0,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1537,2,25,0,2,0,0,0,2,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96462,9,45,6,23,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
96605,1,33,0,1,3,1,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
96715,1,63,1,14,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
98311,3,1,1,12,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
98598,3,57,1,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df[((df['age_[90-100)'] == 1) | (df['age_[90-100)'] == 1)) & (df['diabetesMed_Yes'] == 1)]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
9,12,33,3,18,0,0,0,8,0,0,...,0,0,0,0,0,1,0,0,0,1
631,1,68,1,2,0,0,0,9,0,0,...,0,0,0,0,0,1,0,0,0,1
1028,4,53,0,11,0,0,1,7,0,0,...,0,0,0,0,0,1,0,0,0,1
1029,5,39,0,17,0,0,3,7,0,0,...,0,0,0,0,0,1,0,0,1,1
1437,4,57,0,13,0,0,1,9,0,0,...,0,0,0,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99206,9,58,0,22,1,0,4,9,0,0,...,0,0,0,0,0,1,0,1,0,1
99213,3,9,0,8,0,0,0,6,0,0,...,0,0,0,0,0,1,0,0,0,1
99256,2,59,2,16,0,0,1,9,0,0,...,0,0,0,0,0,1,0,0,0,1
99262,6,53,1,24,0,1,0,9,0,0,...,0,0,0,0,0,1,0,0,1,1
99335,9,71,0,21,0,0,0,14,0,0,...,0,0,0,0,0,1,0,0,0,1

In [7]:
df[((df['age_[90-100)'] == 1) | (df['age_[90-100)'] == 1)) & (df['diabetesMed_Yes'] == 0)]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
125,7,35,2,11,0,0,0,4,1,0,...,0,0,0,0,0,1,0,0,0,0
135,11,70,1,23,0,0,0,5,0,0,...,0,0,0,0,0,1,0,0,0,0
333,1,33,0,5,0,0,0,9,0,0,...,0,0,0,0,0,1,0,0,1,0
537,4,45,0,7,0,0,0,2,0,0,...,0,0,0,0,0,1,0,0,0,0
579,7,34,0,17,0,0,1,8,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99190,5,54,0,10,0,0,2,7,0,0,...,0,0,0,0,0,1,0,0,0,0
99315,2,1,1,10,0,0,1,9,0,0,...,0,0,0,0,0,1,0,1,0,0
99424,3,46,0,11,0,0,1,9,0,0,...,0,0,0,0,0,1,0,0,0,0
99426,6,60,0,20,0,1,0,9,1,0,...,0,0,0,0,0,1,0,0,0,0
99468,4,21,1,8,0,0,1,9,1,0,...,0,0,0,0,0,1,0,0,0,0

In [9]:
df[((df['age_[90-100)'] == 0) & (df['age_[0-10)'] == 0) & (df['age_[10-20)'] == 0))]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
2,2,11,5,13,2,0,1,6,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2,44,1,16,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,51,0,8,0,0,0,5,0,0,...,1,0,0,0,0,0,0,0,0,1
5,3,31,6,16,0,0,0,9,0,0,...,0,1,0,0,0,0,0,0,1,1
6,4,70,1,21,0,0,0,7,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99488,3,51,0,16,0,0,0,9,1,0,...,0,0,0,1,0,0,0,0,1,1
99489,5,33,3,18,0,0,1,9,1,0,...,0,0,0,0,1,0,0,0,0,1
99490,1,53,0,9,1,0,0,13,0,0,...,0,0,0,1,0,0,0,0,0,1
99491,10,45,2,21,0,0,1,9,0,0,...,0,0,0,0,1,0,0,0,0,1
99492,6,13,3,3,0,0,0,9,0,0,...,0,0,0,1,0,0,0,0,0,0

In [10]:
df[((df['age_[90-100)'] == 0) & (df['age_[0-10)'] == 0) & (df['age_[10-20)'] == 0))&(df['diabetesMed_Yes'] == 1)]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
2,2,11,5,13,2,0,1,6,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2,44,1,16,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,51,0,8,0,0,0,5,0,0,...,1,0,0,0,0,0,0,0,0,1
5,3,31,6,16,0,0,0,9,0,0,...,0,1,0,0,0,0,0,0,1,1
6,4,70,1,21,0,0,0,7,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99487,6,45,1,25,3,1,2,9,1,0,...,0,0,1,0,0,0,0,0,1,1
99488,3,51,0,16,0,0,0,9,1,0,...,0,0,0,1,0,0,0,0,1,1
99489,5,33,3,18,0,0,1,9,1,0,...,0,0,0,0,1,0,0,0,0,1
99490,1,53,0,9,1,0,0,13,0,0,...,0,0,0,1,0,0,0,0,0,1
99491,10,45,2,21,0,0,1,9,0,0,...,0,0,0,0,1,0,0,0,0,1

In [11]:
df[((df['age_[90-100)'] == 0) & (df['age_[0-10)'] == 0) & (df['age_[10-20)'] == 0))&(df['diabetesMed_Yes'] == 0)]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
19,2,47,0,12,0,0,0,8,1,0,...,0,0,0,1,0,0,0,0,0,0
20,11,42,2,19,0,0,0,8,0,0,...,0,0,0,0,1,0,0,0,1,0
47,4,40,1,14,0,0,0,9,1,0,...,0,1,0,0,0,0,0,1,0,0
65,7,75,2,22,0,0,0,7,0,0,...,0,0,0,1,0,0,0,1,0,0
76,3,52,0,13,0,0,2,9,1,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99427,4,44,0,17,0,0,2,9,0,0,...,0,0,0,0,1,0,0,0,0,0
99440,7,60,0,17,0,1,1,9,1,0,...,0,0,0,0,1,0,0,0,1,0
99458,3,57,4,11,0,0,1,9,1,0,...,0,0,0,1,0,0,0,0,0,0
99471,1,49,0,12,0,0,0,9,0,0,...,0,0,0,0,1,0,0,0,0,0
99492,6,13,3,3,0,0,0,9,0,0,...,0,0,0,1,0,0,0,0,0,0