In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
df_1 = pd.read_csv("CDCDiabetesHealthIndicators.csv")
df_3 = pd.read_csv("diabetes130Hospitals10Years.csv")

In [3]:
df_1.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,Education,Income,age_[20-30),age_[30-40),age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),Diabetes_binary
0,1,1,1,40,1,0,0,0,0,1,...,4,3,0,0,0,0,1,0,0,0
1,0,0,0,25,1,0,0,1,0,0,...,6,1,0,0,0,1,0,0,0,0
2,1,1,1,28,0,0,0,0,1,0,...,4,8,0,0,0,0,1,0,0,0
3,1,0,1,27,0,0,0,1,1,1,...,3,6,0,0,0,0,0,1,0,0
4,1,1,1,24,0,0,0,1,1,1,...,5,4,0,0,0,0,0,1,0,0

In [4]:
df_3.head()

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_AfricanAmerican,race_Asian,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
0,1,41,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,59,0,18,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,1,1
2,2,11,5,13,2,0,1,6,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2,44,1,16,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,51,0,8,0,0,0,5,0,0,...,1,0,0,0,0,0,0,0,0,1

In [5]:
df_1.columns

Index(['HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker', 'Stroke',
       'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Education', 'Income',
       'age_[20-30)', 'age_[30-40)', 'age_[40-50)', 'age_[50-60)',
       'age_[60-70)', 'age_[70-80)', 'age_[80-90)', 'Diabetes_binary'],
      dtype='object')

In [6]:
df_3.columns

Index(['time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'number_diagnoses', 'race_AfricanAmerican',
       'race_Asian', 'race_Caucasian', 'race_Hispanic', 'race_Other',
       'gender_Female', 'gender_Male', 'gender_Unknown/Invalid', 'age_[0-10)',
       'age_[10-20)', 'age_[20-30)', 'age_[30-40)', 'age_[40-50)',
       'age_[50-60)', 'age_[60-70)', 'age_[70-80)', 'age_[80-90)',
       'age_[90-100)', 'metformin_Down', 'readmitted_<30', 'readmitted_>30',
       'diabetesMed_Yes'],
      dtype='object')

In [7]:
#import pandas as pd
#
#augmented_rows = []
## i = 0
## Iterate over each row in df_1
#for _, row in df_1.iterrows():
#    sample = (df_3[(df_3['diabetesMed_Yes'] == row['Diabetes_binary']) & 
#                         (df_3['age_[20-30)'] == row['age_[20-30)']) &
#                         (df_3['age_[30-40)'] == row['age_[30-40)']) &
#                         (df_3['age_[40-50)'] == row['age_[40-50)']) &
#                         (df_3['age_[50-60)'] == row['age_[50-60)']) &
#                         (df_3['age_[60-70)'] == row['age_[60-70)']) &
#                         (df_3['age_[70-80)'] == row['age_[70-80)']) &
#                         (df_3['age_[80-90)'] == row['age_[80-90)'])]).sample(n=1)
#
#    # Check if any matching rows were found
#    if not sample.empty:
#        augmented_rows.append(pd.concat([row, sample.iloc[0]], axis=0))
#        # print(pd.concat([row, sample.iloc[0]], axis=0))
#        # print("\n\n\n")
#        # i += 1
#
#        # if i > 5:
#        #     break
#    else:
#        augmented_rows.append([0]*30)
#
## Create a new DataFrame from the list of augmented rows
#df = pd.concat(augmented_rows, axis=1).T
#
## Reset the index of the new DataFrame
#df.reset_index(drop=True, inplace=True)
#
## Print the resulting augmented DataFrame
#df

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100),metformin_Down,readmitted_<30,readmitted_>30,diabetesMed_Yes
0,1,1,1,40,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,25,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
2,1,1,1,28,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,1,0,1,27,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,1,0
4,1,1,1,24,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,1,1,1,45,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,1,0
253676,1,1,1,18,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
253677,0,0,1,28,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
253678,1,0,1,23,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
253679,1,1,1,25,0,0,1,1,1,0,...,0,0,1,0,0,0,0,0,0,1

In [9]:
import pandas as pd

augmented_rows = []
# Iterate over each row in df_1
for _, row in df_1.iterrows():
    sample = (df_3[(df_3['diabetesMed_Yes'] == row['Diabetes_binary']) & 
                   (df_3['age_[20-30)'] == row['age_[20-30)']) &
                   (df_3['age_[30-40)'] == row['age_[30-40)']) &
                   (df_3['age_[40-50)'] == row['age_[40-50)']) &
                   (df_3['age_[50-60)'] == row['age_[50-60)']) &
                   (df_3['age_[60-70)'] == row['age_[60-70)']) &
                   (df_3['age_[70-80)'] == row['age_[70-80)']) &
                   (df_3['age_[80-90)'] == row['age_[80-90)']) &
                   (((row['Sex'] == 0) & (df_3['gender_Female'] == 1) & (df_3['gender_Male'] == 0)) | 
                    ((row['Sex'] == 1) & (df_3['gender_Female'] == 0) & (df_3['gender_Male'] == 1)))]).sample(n=1)

    # Check if any matching rows were found
    if not sample.empty:
        augmented_rows.append(pd.concat([row, sample.iloc[0]], axis=0))
    else:
        augmented_rows.append([0]*30)

# Create a new DataFrame from the list of augmented rows
df = pd.concat(augmented_rows, axis=1).T

# Reset the index of the new DataFrame
df.reset_index(drop=True, inplace=True)

# Print the resulting augmented DataFrame
print(df)

        HighBP  HighChol  CholCheck  BMI  Smoker  Stroke  \
0            1         1          1   40       1       0
1            0         0          0   25       1       0
2            1         1          1   28       0       0
3            1         0          1   27       0       0
4            1         1          1   24       0       0
...        ...       ...        ...  ...     ...     ...
253675       1         1          1   45       0       0
253676       1         1          1   18       0       0
253677       0         0          1   28       0       0
253678       1         0          1   23       0       0
253679       1         1          1   25       0       0

        HeartDiseaseorAttack  PhysActivity  Fruits  Veggies  ...  age_[40-50)  \
0                          0             0       0        1  ...            0
1                          0             1       0        0  ...            0
2                          0             0       1        0  ...            0
3                          0             1       1        1  ...            0
4                          0             1       1        1  ...            0
...                      ...           ...     ...      ...  ...          ...
253675                     0             0       1        1  ...            1
253676                     0             0       0        0  ...            0
253677                     0             1       1        0  ...            0
253678                     0             0       1        1  ...            0
253679                     1             1       1        0  ...            0

        age_[50-60)  age_[60-70)  age_[70-80)  age_[80-90)  age_[90-100)  \
0                 0            1            0            0             0
1                 1            0            0            0             0
2                 0            1            0            0             0
3                 0            0            1            0             0
4                 0            0            1            0             0
...             ...          ...          ...          ...           ...
253675            0            0            0            0             0
253676            0            0            1            0             0
253677            0            0            0            0             0
253678            1            0            0            0             0
253679            0            1            0            0             0

        metformin_Down  readmitted_<30  readmitted_>30  diabetesMed_Yes
0                    0               0               1                0
1                    0               0               0                0
2                    0               0               0                0
3                    0               0               0                0
4                    0               0               0                0
...                ...             ...             ...              ...
253675               0               0               0                0
253676               0               0               0                1
253677               0               0               1                0
253678               0               0               0                0
253679               0               0               0                1

[253680 rows x 58 columns]

In [10]:
df.to_csv("augmentedDiabetesDF.csv", index=False)